{% extends 'base.html' %}

{% block content %}
    <div class="int">
        <div class="cent">
        <h1>Add Target Material</h1>
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            <p>
                {{ form.source.label }}<br>
                {{ form.source(size=40) }}<br>
                {% for error in form.source.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.content.label }}<br>
                {{ form.content(cols="32", rows="20") }}<br>
                {% for error in form.content.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.notes.label }}<br>
                {{ form.notes(cols="32") }}<br>
            </p>
            <p> {{ form.submit() }}</p>
        </form>
        </div>
    </div>
{% endblock %}
