{% extends "base.html" %}

{% block content %}
<div class="int">
    <table>
        <thead>
            <th>Word</th>
            <th>Translation</th>
            <th>Status</th>
            <th>Review Date</th>
            <th>Interval</th>
            <th>Edit</th>
            <th>Delete</th>
        </thead>
        <tbody>
        {% for card in cards %}
        <tr>
            <td>{{ card.word }}</td>
            <td>{{ card.translation }}</td>
            <td>{{ card.status }}</td>
            <td>{{ card.nextReviewDate }}</td>
            <td>{{ card.lastInterval }}</td>
            <td>
                <form action="{{ url_for('cards.editCard', card_id=card.id )}}" method="POST">
                    <input type="image" class="btnimg" src="../static/images/edit.png">
                </form>
            </td>
            <td>
                <form action="{{ url_for('cards.deleteCard', card_id=card.id) }}" method="POST">
                    <input type="image" class="btnimg" src="../static/images/delete.png">
                </form>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
