html, body {
    background-color: white;
    margin: 0px;
    padding: 0px;
}

.content {
    margin: 0px;
}

.int {
    margin: 20px;
}

a {
    color: black;
}

.nav {
    background-color: white;
    padding: 7px;
    padding-top: 20px;
}

.right {
    display: inline-block;
    position: fixed;
    right: 10px;
}

.map {
    margin: 0px;
    padding: 0px;
    position: relative;
}

img {
    padding-top: 15px;
    width: 100%;
}
