html, body {
    background-color: rgb(232, 250, 255);
    margin: 0px;
    padding: 0px;
    max-width: 100%;
    overflow-x: hidden;
}

.content {
    margin: 0px;
}

.int {
    margin: 20px;
}

a {
    color: black;
}

.nav {
    background-color: white;
    display: inline-block;
    position: relative;
    width: 100%;
    padding: 7px;
    padding-top: 14px;
    padding-bottom: 14px;
    border-bottom: 2px solid black;
}

.navlink {
    padding-left: 5px;
    padding-right: 5px;
}

.right {
    float: right;
    margin-right: 20px;
}

table {
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    text-align: center;
    border-collapse: collapse;
}

thead {
    background-color: white;
}

th, td {
    border: 2px solid black;
    padding-left: 10px;
    padding-right: 10px;
}

tbody {
    background-color: rgb(240, 240, 240);
}

tr:nth-child(even) {
    background-color: rgb(252, 252, 252);
}

.btnimg {
    position: relative;
    margin-top: 10%;
    margin-left: auto;
}

.left {
    text-align: left;
}

.flashcard {
    margin: auto;
    background-color: white;
    border: 2px solid black;
    width: 300px;
    height: 200px;
    margin-top: 100px;
}

.entireCard {
    text-align: center;
    
}

.cardText {
    margin-top: 40px;
    margin-left: auto;
    text-align: center;
    font-weight: bold;
    font-size: 24pt;
}

#hideElement {
    display: None;
}

.map {
    display: float;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: fit-content;
    position: relative;
}

.mapimg {
    height: 630px;
    width: 800px;
    margin: 0px;
    padding: 0px;
    width: 100%;
    border: 1px solid black;
}

.mapGrid {
    position: absolute;
    top: 0px;
    left: 0px;
    
}

.grid-container {
    display: inline-grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
    grid-auto-columns: 200px;
    grid-auto-rows: 60px;
    padding: 0;
    margin: 0;
}

.grid-square {
    padding: 0;
    margin: 0;
    border: 1px solid black;
    width: 125px;
    height: 61px;
    opacity: 80%;
    background-color: transparent;
    border-color: transparent;
    color: transparent;
    font-weight: bold;
}

[class*='sq'] {
    width: 125px;
    height: 61px;
}

.info {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -75px;
    background-color: white;
    opacity: 90%;
    font-weight: bolder;
    text-align: center;
    border: 1px dotted black
}

#percent {
    width: 150px;
    margin-top: -20px;
}

#practiced {
    width: 150px;
    margin-top: 30px;
}

#title {
    width: 300px;
    margin-top: -335px;
    margin-left: -150px;
    font-size: 18pt;
}

.cardOptions {
    display: inline-block;
}

.ilb {
    display: inline-block;
}

.cent {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.big {
    font-size: 20px;
}