<!DOCTYPE html>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<html>
    <head>
        <title>Language Map - {{ title }}</title>
        <div>
            <div class="nav">
            Language Map: 
            <a href="/index">Home</a>
            {%if current_user.is_anonymous %}
            <div class="right">
                <a href="/login">Login</a>
            </div>
            {% else %}
            <a href="/map">Map</a>
            <a href="/viewCards">View Cards</a>
            <a href="/addCard">Add Card</a>

            <div class="right">
                <a href="/logout">Logout</a>
            </div>
            {% endif %}
            </div>
        </div>
        </head>
        <body>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
            <div class="content">
            {% block content %}{% endblock %}
            </div>
    </body>
</html>
