<!DOCTYPE html>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<html>
    <head>
        <title>Pyxis - {{ title }}</title>
        <div>
            <div class="nav">
            <b>Pyxis</b>
            <a class="navlink" href="/viewCards">Home</a>
            {% if current_user.is_anonymous %}
            <div class="right">
                <a class="navlink" href="/login">Login</a>
            </div>
            {% else %}
            <a class="navlink" href="/selectMap">Maps</a>
            <a class="navlink" href="/viewCards">All Cards</a>
            <a class="navlink" href="/learn">Learn</a>
            <a class="navlink" href="viewStats">Stats</a>
            

            <div class="right">
                <a class="navlink" href="/addCard">Add Card</a>
                <a class="navlink" href="/addTarget">Add Target</a>
                <a class="navlink" href="/viewTargets">Manage Targets</a>
                <a class="navlink" href="/settings">Settings</a>
                <a class="navlink" href="/logout">Logout</a>
            </div>
            {% endif %}
            </div>
        </div>
        </head>
        <body>
            <div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
            </div>
            <div class="content">
            {% block content %}{% endblock %}
            </div>
    </body>
</html>
