{% extends 'base.html' %}

{% block content %}
    <!-- <div class="int"> -->
    <div class="map">
        <img class="mapimg" src="../static/images/map2.jpg">
        <div class="mapGrid">
            <div class="grid-container">
            </div>
        </div>
        <div class="blur">
            <style>
                .blur {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    bottom: 0px;
                    top: 0px;
                    /* background: radial-gradient(circle at center, rgba(255, 255, 255, 0) 0,rgb(255, 255, 255) {{vis}}); */
                }
            </style>
        </div>
    </div>
<!-- </div> -->

<script>
    function map() {
        grid = document.querySelector('.grid-container')
        for (var i=0; i<10; i++) {
            for (var j=0; j<10; j++) {
                if (i%2==0) {
                    var sqnum = (i*10 + j + 1)
                } else {
                    var sqnum = (i*10 + (9-j) + 1)
                }
                grid.innerHTML += '<div class="grid-square"><div class="sq' + sqnum + '"><div>' + sqnum + '</div></div></div>'
            }
        }
    }
    map()
    // function style
    
</script>

{% endblock %}
