{% extends 'base.html' %}

{% block content %}
    <div class="map">
        <img class="mapimg" src="../static/images/map2.jpg">
        <div class="mapGrid">
            <div class="grid-container">
                <script>
                    var color = 'yellow'
                    for (var i=100; i>{{percent}}; i--) {
                        if (i%7==0) {
                            color = 'indigo' //'green'
                        } else if (i%7==1) {
                            color = 'red' //'rgb(160, 82, 160)'
                        } else if (i%7==2) {
                            color = 'orange' //'rgb(26, 190, 155)'
                        } else if (i%7==3) {
                            color = 'yellow' //'rgb(62, 104, 196)'
                        } else if (i%7==4) {
                            color = 'green' //'rgb(33, 154, 175)'
                        } else if (i%7==5) {
                            color = 'blue' //'rgb(127, 80, 255)'
                        } else if (i%7==6) {
                            color = 'purple' //'rgb(38, 98, 187)'
                        }
                        var sqCSS = '.sq' + i + ' { background-color:' + color + '; color: black; border: 1px solid black; }'
                        var style = document.createElement('style')
                        style.appendChild(document.createTextNode(sqCSS))
                        document.head.appendChild(style) 
                    }
                </script>
            </div>
        </div>
    </div>

<script>
    function map() {
        grid = document.querySelector('.grid-container')
        for (var i=0; i<10; i++) {
            for (var j=0; j<10; j++) {
                if (i%2==0) {
                    var sqnum = (i*10 + j + 1)
                } else {
                    var sqnum = (i*10 + (9-j) + 1)
                }
                grid.innerHTML += '<div class="grid-square"><div class="sq' + sqnum + '"><div>' + sqnum + '</div></div></div>'
            }
        }
    }
    map()
</script>

{% endblock %}
