{% extends 'base.html' %}

{% block content %}
    <div class="map">
        <img class="mapimg" src="../static/images/map2.jpg">
        <div class="blur">
            <style>
                .blur {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    bottom: 0px;
                    top: 0px;
                    /* background: radial-gradient(circle at center, rgba(255, 255, 255, 0) 0,rgb(255, 255, 255) {{vis}}); */
                }
            </style>
        </div>
    </div>
{% endblock %}
