{% extends 'base.html' %}

{% block content %}
<div class="int">
    <h1 class="cent">Choose a Map</h1>
    <table>
        <thead>
            <th>Name</th>
            <th>% Remaining</th>
            <!-- <th>Notes</th> -->
            <th>Go</th>
        </thead>
        <tbody>
            {% for map in maps %}
            <tr>
                <td>{{ map[0].source }}</td>
                <td>{{ map[2] }}</td>
                <!-- <td>{{ map[0].notes }}</td> -->
                <td>
                    <form action="{{ url_for('maps.map', target_id=map[0].id) }}">
                        <input type="image" class="btnimg" src="../static/images/go.jpg">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
