{% extends 'base.html' %}

{% block content %}
    <div class="int">
        <table>
            <thead>
                <th>Word</th>
                <th>Delete</th>
            </thead>
            <tbody>
            {% for variant in variants %}
            <tr>
                <td>{{ variant.word }}</td>
                <td>
                    <form action="{{ url_for('deleteVariant', variantID=variant.id) }}" method="POST">
                        <input type="image" class="btnimg" src="../static/images/delete.png">
                    </form>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
